@model AccunMedyaPortfolioProject.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda güncelleme sayfası</h2>

<div class="container">
    <form method="post">
        @Html.HiddenFor(x => x.Id)

        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <label>Resim Urlsi</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        <br />
        <label>CV Linki</label>
        @Html.TextBoxFor(x => x.CVLink, new { @class = "form-control" })
        <br />
        <button class="btn btn-info" >Hakkımdayı güncelle</button>
    </form>

</div>

