@model AccunMedyaPortfolioProject.Models.About
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 style="color:blueviolet">Hakkında Güncelle</h2>
<br />
<div class="container">
    <form method="post">
        @Html.HiddenFor(x => x.Id)

        <label style="color:black">Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label style="color:black">Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <label style="color:black">Resim Urlsi</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        <br />
        <label style="color:black">CV Linki</label>
        @Html.TextBoxFor(x => x.CVLink, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-dark " style="color:blueviolet" >Güncelle</button>
    </form>

</div>

