@model List<AccunMedyaPortfolioProject.Models.Education>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="text-center mt-4">Eğitim Kontrol Paneli</h2>
<br />

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Id</th>
                <th>Başlık</th>
                <th>Kurum Adı</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>Açıklama</th>
                <th>Güncelle</th>
                <th>Kaldır</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var education in Model)
            {
                <tr>
                    <td>@education.Id</td>
                    <td>@education.Title</td>
                    <td>@education.InstutionName</td>
                    <td>@education.StartDate</td>
                    <td>@education.EndDate</td>
                    <td>@education.Description</td>
                    <td> <a href="/Education/UpdateEducation/@education.Id" class="btn btn-success">Güncelle</a></td>
                    <td> <a href="/Education/DeleteEducation/@education.Id" class="btn btn-danger">Kaldır</a></td>

                </tr>
            }
        </tbody>
    </table>

    <a href="/Education/CreateEducation" class="btn btn-dark">Eğitim Ekle</a>

</div>


